* {
	
	margin: 0;
	
}

html, body {
	
	height: 100%;

	
	
}


.container-margin {
    margin-left: -15px;
    margin-right: -15px;
}

h1, h2, h3, h4, h5, h6, p {
	
	margin-bottom: 20px;
	
}

/*----divider----*/

.divd {
	
	min-height: 20px;
	
}




.contact_class {
	
	background-color: #000;
	position: absolute;
	width:90%;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	height: 90%;
	padding-left: 5%;
	
}

@media (max-height: 850px) {
	
	.contact_class {
	
	background-color: #000;
	position: absolute;
	width:90%;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	height: auto;
	padding-left: 5%;
	
}
	
	
}

.contact_size_b{
	
	font-size: 80px;
	
}

.contact_size_a{
	
	font-size: 60px;
	
}

@media (max-width: 850px) {
	
	.contact_size_b{
	
		font-size: 45px;
	
	}
	
	.contact_size_a{
	
	font-size: 30px;
	
}
	
}

.sexy_font {
	
	font-family: 'Square Peg', cursive;
	font-size: 150px !important;
}

@media (max-width: 850px) {
	
	.sexy_font {
	
	font-family: 'Square Peg', cursive;
	font-size: 95px !important;
}
	
}


.small_font {
	
	font-family: 'Square Peg', cursive;
	font-size: 45px;
}
.text_font {
	
	font-family: 'Square Peg', cursive;
}


/*-----video--------*/
.vl {
	
  border-right: 2px solid #bd202b;
  height: 74%;

}

.hl {
	
  border-bottom: 2px solid #bd202b;
  width: 90%;

}

.pad {
	
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	
}

.pad1 {
	
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1px;
	padding-top: 0;
	
}

/*----center txt----*/

.lnheight {
	
	line-height: 1.5;
	
}

.img-responsive {
    margin: 0 auto;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}





/*-----Sexy-------*/
.grow { transition: all 5s ease-in-out; }
.grow:hover { transform: scale(1.2); }
.container111:hover .overlay11 {
  opacity: 0.8;
}
.text1111 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hidebar1::-webkit-scrollbar {
    display: none;
}

/*--------shadow------*/
.overlay11 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}




/*---Background sections---*/



.sect {
	
	height: auto;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;  
	background-color: rgba(255, 254, 230, 0.6);
	
}

.sectbg1 {
	
	
	background: url("../images/bckg/image_2.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0);
	
}

.sectbg {
	background-image: url("../images/bckg/image_1.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
	
}

@media (max-width: 850px) {
	
		.sect {
	
	height: auto;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center center;  
	background-color: rgba(255, 254, 230, 0.6);
	
}
	
	
	
	.sectbg {
	background-image: url("../images/bckg/15.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);


	
}
		

}

.shadow {
	
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
	
}


.subSection {
	
	height: auto%;
	min-height: 100%;
	background-color: #fff;

	
}

.subSection_text {
	
	height: auto%;
	min-height: 65%;
	background-color: #fff;

	
}
.subSection1 {
	
	height: auto%;
	min-height: 100%;
	background-color: #fff;

	
}

.subSectionteam{

	height: auto;
	background-color: #fff;

}

.subSection2 {
	
	height: 100%;
	background-color: #fff;

	
}
.subSectionSlideshow {
	
	height: 100%;
	background-color: #fff;

	
}
.subSectionQuotes {
	
	min-height: 30%;
	background-color: #fff;

	
}

.col-absolute{
position: absolute; top: 30%; left: 40%
}

.pos-absolute{
position: absolute;
top: 50%;
left: 50%
}

.absolute-color{
	width: auto;
    height: auto;
	background-color: rgba(206,206,206,0.65);
	z-index: 1000;
}

@media (max-width: 993px) {
	
	.max_width{ 
	margin-left:auto;
    margin-right:auto;
	width: 30%;
	
	}
	
}

@media (max-width: 700px) {
	
	.subSectionSlideshow {
	
	height: auto;
	background-color: #393a32;
	}
	.subSectionQuotes {
	
	height: auto;
	background-color: #393a32;
	}
	.col-absolute{
	position: absolute; top: 25%; left: 10%;
	}
}
	
}
/* text center*/


.vcenter {
	
	vertical-align: middle;
    float: none;
	
}


/*---------gallery--------*/

.gallery-box {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}


.no-g{
	margin-right: 2px;
	margin-left: 2px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*-------slideshow-----*/
.rslides {
	max-height: 100%;
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
	max-height: 100%;
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/*--------who we are---------*/

.inner{
    display:table-cell;
    background:green;
    width:33.333333%;
}
.innerTwo{
    background:blue;

}
.innerThree {
    background:red;
	
}

.colored {
    border-color: #5f5eaa;
	margin: 20px auto;
    max-width: 600px;
	height: 2px;
}

hr {
                border: 0;
                clear:both;
                display:block;
                width: 80%;                
                background-color:#FFF;
                height: 1px;
            }


.row{
margin: 0px;
}


.maxx{
	
	max-width: 750px;
	
}
.maxx1{
	
	max-width: 250px;
	
}
@media screen and (max-width: 630px) {
	
	
	.maxx{
	
		max-width: 150px;
		
	}
	
	.maxx1{
	
	max-width: 100px;
	
}
	
}

.bookLogo {
	position:fixed;
	top: 5%;
	z-index:48000;
	right: 2%;
	text-align:center;
	border-radius:5px;
}

.bk{
	width:200px;
}

@media screen and (max-width: 430px) {
    
	.bk {
	
		width: 110px;
	}
}

/*----------------*/


/*-------------------*/





#child {
      position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}





/*---------gallery--------*/

.gallery-box {
  margin-bottom: 30px;
}

/* Make sure images don't get too big */
img {
  max-width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


/*-----image-----*/



/* Make sure images don't get too big */
img {
  max-width: 100%;
}

.img-wrapper {
	display: inline-block;
	overflow: hidden;
}

.img-wrapper img {
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
	transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}




/*----------------*/

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
#appear{
	display: none;
}
#appear1{
	display: none;
}
/*------button--------*/
.btn-transparent{
	
	background-color: transparent;
    font-weight: 200;
    border: 2px solid;
    font-size: 1.5em;
	border-radius: 0;
	
}
/*------FlexBox-------*/
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  
}
.col {
  width: 35%;
  min-height: 100%;
  height: auto;
  margin: 0;
  background-color: #000;
}
.col1 {
	width: 65%;
	height: 100%;
	margin: 0;
}

.col3 {
  width: 46%;
  max-height: 100%;
  height: auto;
  margin: 0;
  background-color: #000;
}
.col4 {
	width: 54%;
	min-height: 100%;
	margin: 0;
}


.col5 {
  width: 25%;
  height: auto;
  padding-right: 3px;
}


@media (max-width: 700px) {
	  .flex-grid {
		display: block;
	  }
	  
	  .col {
	  width: 100%;
	  height: auto;
	  margin: 0;
	  }
	  
	  .col1 {
	  width: 100%;
	  min-height: 120%;
	  height: auto;
	  margin: 0;
	  }
	  
	  .col3 {
		  width: 100%;
		  height: auto;
		  margin: 0;
	  }
	  
	.col4 {
	 width: 100%;
	  min-height: 120%;
	  height: auto;
	  margin: 0;
}
	  
}

/*--------shadow------*/
.tinted-image {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(206, 206, 206, 0.8), 
      rgba(206, 206, 206, 0.8)
    ),
    /* bottom, image */
    url(../images/contact.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.border0{
	border-radius: 0;
}